@import "tailwindcss";

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  background-color: #1a1a2e;
  color: #f5f0e8;
  font-family: var(--font-inter);
}